@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,500;1,100;1,200&display=swap');
body{
    background: url(https://c.wallhere.com/photos/44/47/1600x900_px_mountain_night_sky_stars_Trees-517931.jpg!d ) center center no-repeat fixed;
    background-size: 100%;
    background-size: cover;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: rgba(0, 0, 0, 0.425) ;
    width: 30rem;
    height: 30rem;
    margin-top: 10rem;
    border-radius: 0.3rem;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:90% ;
    gap: 2rem;
}
h1{
    align-self: flex-start;
}
label{
    align-self: flex-start;
}
label .input{
    height: 2.3rem;
    width: 24.5rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background-color: rgb(240, 248, 255);
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
}
.juntos{
    display: flex;
}
.juntos img{
    width: 2.3rem;
    border-radius: 0.6rem;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
}
label span{
    font-weight: 200;
}
.btn{
    background-color: rgb(246,194,13);
    border: none;
    height: 2rem;
    align-self: flex-end;
    width: 5rem;
    border-radius: 0.4rem;
    font-weight: 700;
    margin-top: -0.5rem;
    cursor: pointer;
    margin-top: -7em;
}
.final{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.final span{
    font-weight: 200;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(250, 250, 252);
}
a:hover{
opacity: 0.30;}
.redes{
    display: flex;
    margin-top: -1.3em;
    gap: 1em;
    margin-left: 15em;
}



.redes img {
    width: 3rem;
}

.g-recaptcha{
    transform: scale(0.74);
    transform-origin: 0 0;
    margin-left: -7em;
}

@media all and ( max-width:800px){
    .container{
        width: 20rem;
        height: 35rem;
        margin-top: 3em;
    } ;

    form{
        width: 90%;
     
     
    }
.redes{
    margin-left: 10rem;
    margin-top: -0.8rem;
}
    .redes img {
        width: 2em;
     
    }

    label .input{
        width: 15rem;
    }
    .g-recaptcha{
        transform: scale(0.5);
        transform-origin: 0 0;
        margin-left: 0;
    }
    .btn{
  
        align-self: center;
        margin-top: -3rem;
    }
}
